<?xml version="1.0" encoding="UTF-8"?>
<modules>
    <module url="" state="1" name="日常管理">
		<module name="商家管理" code="100" flow="" state="1" url=""  >
            <affair name="基本信息" code="10005" url="shop/shop_list.jsp" state="1" />
            <affair name="积分购买" code="10010" url="shop/pointbuy_list.jsp" state="1" />
            <affair name="积分余额" code="10015" url="shop/shop_point.jsp" state="1" />
            <affair name="积分转赠" code="10020" url="shop/pointpresent_list.jsp" state="1" />
            <affair name="纸质积分卡" code="10025" url="shop/pointcard_list.jsp" state="1" />
        </module>
		<module name="会员管理" code="110" flow="" state="1" url=""  >
            <affair name="基本信息" code="11005" url="member/member_list.jsp" state="1" />
            <affair name="手机导出" code="11010" url="member/member_mobile.jsp" state="1" />
            <affair name="礼品信息" code="11015" url="member/gift_list.jsp" state="1" />
            <affair name="礼品兑换" code="11020" url="member/giftexchange_list.jsp" state="1" />
        </module>
		<module name="优惠券管理" code="120" flow="" state="1" url=""  >
            <affair name="基本信息" code="12005" url="coupon/coupon_list.jsp" state="1" />
            <affair name="有价券录入" code="12010" url="coupon/couponinput_list.jsp" state="1" />
            <affair name="有价券统计" code="12015" url="coupon/coupon_stat.jsp" state="1" />
        </module>
		<module name="终端管理" code="130" flow="" state="1" url=""  >
            <affair name="基本信息" code="13005" url="terminal/terminal_list.jsp" state="1" />
            <affair name="模板信息" code="13010" url="terminal/terminal_template.jsp" state="1" />
            <affair name="广告管理" code="13015" url="terminal/ad_list.jsp" state="1" />
            <affair name="参数维护" code="13015" url="terminal/para_list.jsp" state="1" />
        </module>
		<module name="经营分析" code="140" flow="" state="1" url=""  >
            <affair name="商家统计分析" code="13005" url="analysis/shop_analyse.jsp" state="1" />
            <affair name="会员统计分析" code="13010" url="analysis/member_analyse.jsp" state="1" />
            <affair name="终端统计分析" code="13015" url="analysis/terminal_analyse.jsp" state="1" />
            <affair name="优惠券消费排行榜" code="13020" url="analysis/coupon_top.jsp" state="1" />
            <affair name="商家消费排行榜" code="13015" url="analysis/shop_top.jsp" state="1" />
            <affair name="会员消费排行榜" code="13015" url="analysis/member_top.jsp" state="1" />
            <affair name="商家消费统计" code="13015" url="analysis/shop_biz.jsp" state="1" />
            <affair name="会员消费统计" code="13015" url="analysis/member_biz.jsp" state="1" />
           <affair name="代理员业绩统计" code="13015" url="analysis/salesman_analyse.jsp" state="1" />
       
        </module>
	   <module name="个人设置" code="240" state="1" url=""  >
           <affair name="修改密码" code="24005" url="pwd.jsp" state="1" />
       </module>
    </module>
    <module url="" state="1" name="系统管理">
        <module name="用户权限管理" code="900" flow="" state="1" url=""  >
            <affair name="组织机构管理" code="90005" url="system/unit_list.jsp" state="1" />
            <affair name="用户管理" code="90010" url="system/user_list.jsp" state="1"  />
            <affair name="权限管理" code="90015" url="system/right_list.jsp" state="1"  />
        
        </module>
        <module name="运行维护" code="910" flow="" state="1" url="">
            <affair name="最新日志" code="91005" url="system/loginfo_list.jsp" state="1" />
           <affair name="数据字典" code="91030" url="system/syspara_list.jsp" state="1" />
          
      
        </module>
    </module>
</modules>