<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>/ecoupons</display-name>
	<servlet>
		<servlet-name>InitClass</servlet-name>
		<servlet-class>com.ejoysoft.ecoupons.InitClass</servlet-class>
		<init-param>
            <param-name>DB_JNDI_NAME</param-name>
            <param-value>java:comp/env/jdbc/ecoupons</param-value>
        </init-param>
		<init-param>
			<param-name>SYS_CONFIG_FILE</param-name>
			<param-value>WEB-INF/sysConfig.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Auth</servlet-name>
		<servlet-class>com.ejoysoft.auth.AppClass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/Auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WebAuth</servlet-name>
		<servlet-class>com.ejoysoft.auth.AppClass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebAuth</servlet-name>
		<url-pattern>/web/Auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CouponAuth</servlet-name>
		<servlet-class>com.ejoysoft.servlet.CouponAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponAuth</servlet-name>
		<url-pattern>/servlet/CouponAuth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CouponTop</servlet-name>
		<servlet-class>com.ejoysoft.servlet.CouponTopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponTop</servlet-name>
		<url-pattern>/servlet/CouponTop</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CouponPrint</servlet-name>
		<servlet-class>com.ejoysoft.servlet.CouponPrintServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponPrint</servlet-name>
		<url-pattern>/servlet/CouponPrint</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShopAround</servlet-name>
		<servlet-class>com.ejoysoft.servlet.ShopAroundServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopAround</servlet-name>
		<url-pattern>/servlet/ShopAround</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemberAuth</servlet-name>
		<servlet-class>com.ejoysoft.servlet.MemberAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberAuth</servlet-name>
		<url-pattern>/servlet/MemberAuth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CouponFavourite</servlet-name>
		<servlet-class>com.ejoysoft.servlet.CouponFavouriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponFavourite</servlet-name>
		<url-pattern>/servlet/CouponFavourite</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TerminalParam</servlet-name>
		<servlet-class>com.ejoysoft.servlet.TerminalParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TerminalParam</servlet-name>
		<url-pattern>/servlet/TerminalParam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PrintAlert</servlet-name>
		<servlet-class>com.ejoysoft.servlet.PrintAlertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrintAlert</servlet-name>
		<url-pattern>/servlet/PrintAlert</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CouponDownload</servlet-name>
		<servlet-class>com.ejoysoft.servlet.CouponDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponDownload</servlet-name>
		<url-pattern>/servlet/CouponDownload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShopDownload</servlet-name>
		<servlet-class>com.ejoysoft.servlet.ShopDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopDownload</servlet-name>
		<url-pattern>/servlet/ShopDownload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdDownload</servlet-name>
		<servlet-class>com.ejoysoft.servlet.AdDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdDownload</servlet-name>
		<url-pattern>/servlet/AdDownload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MemberMobile</servlet-name>
		<servlet-class>com.ejoysoft.servlet.MemberMobileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberMobile</servlet-name>
		<url-pattern>/servlet/MemberMobile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>com.ejoysoft.servlet.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/servlet/FileDownload</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
          <servlet-name>DisplayChart</servlet-name>
          <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
</servlet>
<servlet-mapping>
          <servlet-name>DisplayChart</servlet-name>
          <url-pattern>/DisplayChart</url-pattern>
</servlet-mapping>
	<filter>      
		<filter-name>SessionFilter</filter-name>       
		<filter-class>com.ejoysoft.common.SessionFilter</filter-class> 
		<init-param>
			<param-name>logon_page</param-name>
			<param-value>login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>nocheck_page</param-name>
			<param-value>/servlet/</param-value>
		</init-param>
		<init-param>
			<param-name>nocheck_page</param-name>
			<param-value>/web/</param-value>
		</init-param>
		<init-param>
			<param-name>uncheck</param-name>
			<param-value>image.jsp</param-value>
		</init-param>
	</filter> 
	<filter-mapping>     
		<filter-name>SessionFilter</filter-name>  
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
        <filter-name>CharEncoding</filter-name>
        <filter-class>com.framwork.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	
	<error-page>   
		<error-code>400</error-code>   
		<location>/include/error/error.jsp</location>   
	</error-page> 
	<error-page>
		<error-code>500</error-code>
		<location>/include/error/error.jsp</location>
	</error-page>
</web-app>
