/* CSS Document */
body{ margin:0; padding:0; font-size:12px; LINE-HEIGHT: 1.5; FONT-FAMILY: Verdana}
P {
	PADDING: 0px; MARGIN: 0px;}
UL { MARGIN: 0px; PADDING: 0px}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #444; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00
}
.clearfloat {
	LINE-HEIGHT: 0px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
#Main {
	MARGIN: 10px auto 0px; WIDTH: 985px
}
#Left {
	WIDTH: 640px; FLOAT: left
}
.left_top {
	WIDTH: 638px; BACKGROUND: url(../images/left_top.gif) no-repeat; HEIGHT: 45px
}
.left_top P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; FONT: bold 14px/1 microsoft yahei; COLOR: #f00; PADDING-TOP: 10px
}
.left_mid {
	WIDTH: 638px; BACKGROUND: url(../images/left_bg.gif) repeat-y
}


.show {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 22px; WIDTH: 588px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
.show_top {
	WIDTH: 578px; HEIGHT: 18px
}
.show_mid {
	WIDTH: 578px; 
}
.show_img {
	MARGIN: 10px 5px 10px 15px; WIDTH: 360px; BACKGROUND: url(../images/img_border.gif) no-repeat; FLOAT: left; HEIGHT: 238px
}
.show_img IMG {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.show_desgin {
	MARGIN: 15px 0px 0px 5px; WIDTH: 132px; FLOAT: left; HEIGHT: 134px
}
.show_line {
	MARGIN: 0px 10px 0px 20px; WIDTH: 535px; BACKGROUND: url(../images/show_line.gif) no-repeat; HEIGHT: 7px
}
.show_bottom {
	WIDTH: 578px; BACKGROUND: url(../images/show_bottom.gif) no-repeat; HEIGHT: 9px
}
.info {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 554px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.coupon_money{TEXT-ALIGN: center; WIDTH: 132px; FONT-FAMILY: ºÚÌå; HEIGHT: 134px; COLOR: #ffffff; FONT-SIZE: 24px; FONT-WEIGHT: bold; PADDING-TOP: 48px}

.info_top P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; FONT: bold 14px/1 Arial, Helvetica, sans-serif; FLOAT: left; COLOR: #fff; PADDING-TOP: 8px
}
.info_top IMG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.info_top SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FLOAT: right; COLOR: #fff; PADDING-TOP: 8px
}
.info_mid {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 20px; WIDTH: 520px; PADDING-RIGHT: 0px; BACKGROUND: #fffee1; PADDING-TOP: 20px
}
.souce {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; MARGIN: 10px 0px 10px 22px; WIDTH: 575px; HEIGHT: 35px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.souce P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #06f; FONT-SIZE: 14px; PADDING-TOP: 8px
}
.souce_ic {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 50px; FLOAT: left; COLOR: #f00; PADDING-TOP: 5px
}
.link {
	MARGIN: 10px 6px 10px 23px; WIDTH: 576px; border: 1px solid #CCCCCC;
}
.link_top {
	border-bottom: 1px solid #CCCCCC; HEIGHT: 30px
}
.link_top P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; COLOR: #06f; FONT-SIZE: 14px; PADDING-TOP: 6px
}
.link_mid {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; WIDTH: 536px; PADDING-RIGHT: 35px; BACKGROUND: url(../images/link_bg.gif) repeat-y; PADDING-TOP: 10px
}
.link_bottom {
	WIDTH: 576px; BACKGROUND: url(../images/link_bottom.gif) no-repeat; HEIGHT: 5px
}
.Side {
	MARGIN: 10px 5px 10px 22px; WIDTH: 578px
}
.side_top {
	WIDTH: 578px; BACKGROUND: url(../images/side_top.gif) no-repeat; HEIGHT: 12px
}
.side_mid {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; WIDTH: 578px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/side_bg.gif) repeat-y; HEIGHT: 350px; PADDING-TOP: 5px
}
.side_mid UL {
	WIDTH: 578px
}
.side_mid UL LI {
	WIDTH: 180px; FLOAT: left
}
.img_more {
	WIDTH: 159px; BACKGROUND: url(../images/quan_kuang.gif) no-repeat; FLOAT: left; HEIGHT: 105px
}
.img_more IMG {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; PADDING-TOP: 6px
}
.side_fg {
	PADDING-LEFT: 8px; WIDTH: 10px; FLOAT: left
}
.side_text {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 149px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.side_bottom {
	WIDTH: 578px; BACKGROUND: url(../images/side_bottom.gif) no-repeat; HEIGHT: 7px
}
.view {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; MARGIN: 10px 6px 10px 23px; WIDTH: 576px; HEIGHT: 200px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.view_top {
	BORDER-BOTTOM: #999 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BACKGROUND: #efefef; HEIGHT: 25px; PADDING-TOP: 8px
}
.view_top SPAN {
	COLOR: #06f
}
.view_tj {
	TEXT-ALIGN: right; MARGIN: 5px 10px 10px 240px; WIDTH: 300px

}
.view_mark {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 51px; BACKGROUND: url(../images/yanzheng.gif) no-repeat; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 6px
}
.view_btn {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 46px; PADDING-RIGHT: 13px; BACKGROUND: url(../images/tijiao.gif) no-repeat; FLOAT: right; HEIGHT: 23px; PADDING-TOP: 5px
}
.left_bottom {
	WIDTH: 638px; BACKGROUND: url(../images/left_bottom.gif) no-repeat; HEIGHT: 17px
}


.info_bottom{ width:500px; margin-top:20px;}
.coupon_jzrq{ width:200px; float:left}

.coupon_bar { float: left;WIDTH: 300px; padding:0px; text-align:center; height:30px;}
.coupon_bar UL {WIDTH: 220px; padding:0px; margin:0px; list-style:none}
.coupon_bar UL LI {FLOAT: left; WIDTH: 60px; HEIGHT: 26px; TEXT-ALIGN: center; display:block;}


#Right {
	WIDTH: 320px; FLOAT: right; margin-right:12px;
}
.card {
	WIDTH: 328px; MARGIN-BOTTOM: 10px
}
.card_top {
	WIDTH: 328px; BACKGROUND: url(../images/card_top.gif) no-repeat; HEIGHT: 45px
}
.card_top P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 100px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.heatitle {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px;  FLOAT:left; COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP:10px
}
.heatitle h6{MARGIN: 1px 0px 0px 1px; FONT-SIZE: 14px;COLOR: #000; background:url(../images/left_icon6.gif) no-repeat; 	PADDING-LEFT: 35px;}

.card_mid {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 298px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/card_bg.gif) repeat-y; PADDING-TOP: 10px
}
.card_mid p{ line-height:200%;}

.tuangou_index{ height:95px; margin-top:5px;}
.card_img{width:130px; float:left;}
.card_js{ float:right; width:160px; padding-top:8px; line-height:200%;} 
.card_line{
	MARGIN: 0px 10px 0px 0px; WIDTH: 280px; BACKGROUND: url(../images/show_line.gif) no-repeat; HEIGHT: 7px
}


.card_bottom {
	WIDTH: 328px; BACKGROUND: url(../images/card_bottom.gif) no-repeat; HEIGHT: 14px
}
